.card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.badge{

padding:6px 14px;

border-radius:20px;

font-size:13px;

color:white;

}

.completed{

background:#2ecc71;

}

.pending{

background:#e74c3c;

}

.progress{

background:#f39c12;

}