nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#1976d2;
color:white;
}

nav div{
display:flex;
gap:20px;
}

a{
color:white;
text-decoration:none;
font-weight:bold;
}

a:hover{
text-decoration:underline;
}